@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #581c87; 
  font-family: "Quicksand", sans-serif;
}

#book-library{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/***                    Header                          *****/       


#book-library .heading{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09090b;
}

.heading h1{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: floralwhite;
}

.heading span{
  display: inline-block;
  width: 10px;
}



/*****        Add-book section                      *********/

#add-book-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px 0 25px 0;
  background-color: #ca8a04;
  box-shadow: 0px 2px 10px 1px #ca8a04;
}

.book-icon, #add-book-button{
  height: 100px;
  font-family: "Quicksand";
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


#add-book-button{
  background-color: hsl(330, 81%, 60%);
  font-weight: 800;
  font-size: 25px;
  color: #09090b;
  border: 3px solid;
}

.book-icon{
  color: floralwhite;
  border: 0.5px solid;
}

.book-icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*****             Books Layout                         ******/

#books-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  gap: 20px;
  padding: 10px;
}

.book{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background: #115e59;
  border-radius: 12px;
  box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
  font-size: 18px;
  overflow: hidden;
}

.book > *{
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book > p{
  display: flex;
}

.book > p > *{
  flex-grow: 1;
}

.book .book div:nth-child(4){
  font-size: 18px;
}

#books-container .book-buttons{
  display: flex;
  justify-content: space-evenly;
  border: none;
  gap: 12px;
}

#books-container .del-button, #books-container .read-status-button{
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 8px;
  flex-grow: 1;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-family: fantasy, sans-serif;
  cursor: pointer;
}

#books-container .del-button{
  background-color: red;
  color: #09090b;
}

#books-container .read-status-button{
  color: #09090b;
  background-color: #06b6d4;
  

}

.read-status{
  font-weight: 700;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.1em;
  color:  #09090b;
  background-color: #ca8a04;
}

.data{
  background-color: floralwhite;
  color:  #09090b;
  font-family: fantasy, sans-serif;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}

.value{
  padding-left: 2px;
  padding-right: 2px;
  background-color:  #09090b;
  color: floralwhite;
  display: inline-block;
  font-family: "Lobster Two";
}


/*             Dialog Modal                */


#dialog{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #f96167;
  color: #0c0a09;
  box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media only screen and (min-width: 700px){
  #dialog{
    width: 30%;
  }

  #books-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px){
  #books-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#dialog form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  padding: 4px 8px 8px 8px;
  background: #F96167; 
}

form > *{
  padding: 10px;
}

.input-data label, #status-container{
  font-size: 18px;
  font-weight: 600;
}

form h2{
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #F9E795;
  padding-top: 0;
}


div.input-data{
  width: 100%;
  height: 50px;
  color: #0c0a09;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#reading-status{
  text-align: center;
}

#dialog input[type = "number"]{
  width: 100px;
  background: #0c0a09;
}

#dialog input[type = "number"], #dialog input[type = "text"]{
  padding: 0 10px 0 10px;
  font-size: 16px;
  color: white;
  background: #0c0a09;
  height: 30px;
  border: none;
  border-radius: 6px;

}

#dialog input[type = "text"]{
  width: 70%;
}

#dialog #submitBtn, #dialog #closeBtn{
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #09090b;
  color: #f9e795;
  flex-grow: 1;
  cursor: pointer;
}

#reading-status-radio-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

input[type="radio"]{
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}

#form-buttons{
  display: flex;
  gap: 40px;
  padding: 0 20px 0 20px;
}

#dialog label, #reading-status{
  color: #F9E795;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
}


